# Make sure that when git checks out text file with test data
# to working tree it will always keep line ending as lf.
This way test data stored in *.log and *.expected is 
# not converted to crlf on windows.
*.smooth	text eol=lf
*.logs		text eol=lf
*.expected	text eol=lf
